<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!-- navigation -->
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <!-- card partial -->
          <%- include('../partials/category-menu',
          {categories,selectedCategory}) %>
        </div>
        <div class="col-md-9">
          <h1 class="h3 mb-3"><%= title %></h1>

          <% if (courses.length == 0) { %> <%- include ('../partials/no-products')
          %> <% } %> <% courses.forEach(course => { %> <% if (course.confirm) { %>
          <!-- include -->
          <%- include ('../partials/course-card',course) %> <% } %> <% }) %>

          <!--pagination -->
          <%- include('../partials/pagination')%>
        </div>
      </div>
    </div>
  </body>
</html>
